[Unit]
Description=Shadowsocks2 Server Service
After=network.target

[Service]
Type=simple
ProtectHome=true
ProtectSystem=strict
PrivateDevices=true
PrivateTmp=true
NoNewPrivileges=true
PrivateUsers=true
ProtectClock=true
ExecStart=/usr/bin/go-shadowsocks2 -s 'ss://AEAD_CHACHA20_POLY1305:password@:8388'

[Install]
WantedBy=multi-user.target
