[Unit]
Description=Shadowsocks2 Server Service
After=network.target

[Service]
Type=simple
User=go-shadowsocks2
CapabilityBoundingSet=
DevicePolicy=strict
PrivateDevices=true
PrivateTmp=true
NoNewPrivileges=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
ProtectHostname=true
ExecStart=/usr/bin/go-shadowsocks2 -s 'ss://AEAD_CHACHA20_POLY1305:password@:8388'

[Install]
WantedBy=multi-user.target
